</div>								<!-- End Main Content !-->						
                
            <div id="sidebar">					<!-- Start of Sidebar !-->
                <ul class="sidemenu">
                    <li><a href="#">Overview</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Archive</a></li>
                    <li><a href="#">News Feeds</a></li>			 
                </ul>
            </div>								<!-- End of Sidebar !-->
            
        </div>
            
		<div style="clear:both;"></div>
        
        <div id="bottom">					<!-- This is the Footer !-->
        <p class="footer">Copyright © 2012 Iain Cambridge. All Rights Reserved.</p>
        </div>
        
	</div>
</div>										<!-- End of Content Part !-->
</body>
</html>

