<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="/public/css/reset.css" type="text/css" />
	<link rel="stylesheet" href="/public/css/default.css" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png">
    <script src="/public/js/jquery-1.5.2.min.js" type="text/javascript" charset="utf-8"></script>
    {{range .moreStyles}}
      <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
      <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </head>
  <body>

<div id="smallheader">						<!-- Start of Header Part !-->
	<div class="wrapper">
    
        <div id="logo">
      	<img src="/public/images/name2.png" width="213" height="49" alt="your name" class="png"/>
      	</div>
        
        <div id="right">
        <form method="get" id="searchform" action="#"> 
            <fieldset class="search"> 
                <input type="text" class="box" /> 
                <button class="btn" title="Search">Search</button> 
            </fieldset> 
        </form>
        </div> 
                
	</div>
</div>													<!-- End of Header Part !-->

<div id="contentpart">									<!-- Start of Content Part !-->
	<div class="wrapper">
        
        <ul class="menu">								<!-- This is the menu !-->
            <li><a href="index.html">Home</a></li>
            <li class="current"><a href="news.html">News</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>  
        
        <div id="content">
        
        	<div id="main" class="news">	
